@inherits LayoutComponentBase

<NavComponent />

<div class="container-lg main-container-wrap">
    <div class="card border-0 m-0 p-1 main-content-wrap">
        @Body
    </div>
    
</div>

<footer class="main-footer-wrap">
    <div class="container-lg main-content-wrap">
        <div class="card border-0 p-2 shadow my-lg-2">
            <div class="card-body p-2">
                <FooterComponent />
            </div>
        </div>
    </div>
</footer>