@page "/about"

<h3>About</h3>
<hr />

<p>This project has been developed within the course "Human-Machine Interaction" at <a href="https://uniwa.gr">University of West Attica</a> department of <a href="https://idpe.uniwa.gr">Industrial Design & Production Engineering.</a></p>
<p>The task was to create a site to purchase theatre tickets.</p>

<hr />
<p>You can find the source code and more on <a href="https://github.com/panoukos41/Theatre-Tickets">Github</a></p>
@code {

}
